<ion-header>
  <ion-toolbar color="primary" class="custom-toolbar">

    <ion-buttons slot="start">
      <ion-back-button *ngIf="showBackButton" [defaultHref]="backHref"></ion-back-button>
      <ion-menu-button *ngIf="!showBackButton" color="light"></ion-menu-button>
    </ion-buttons>

    <div class="header-center">
      <ion-title>{{ pageTitle }}</ion-title>
    </div>

    <ion-buttons slot="end">
      <ion-button fill="clear" color="light" (click)="onSignOut()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
