ion-header {
  --background: linear-gradient(135deg, #004aad, #0078d7);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.custom-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 8px;
  color: aqua /*#fff*/;
  --color: aqua /*#fff*/;
}

.header-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 8px;
  text-align: center;
}

ion-title {
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  color: aqua/*#ffffff*/;
}

.logo {
  height: 36px;
  max-width: 100px;
  object-fit: contain;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 4px 6px;
  backdrop-filter: blur(6px);
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.15);
}

ion-menu-button {
  --color: #fff;
}

ion-button {
  --color: #fff;
  --ripple-color: rgba(255, 255, 255, 0.3);
}

ion-icon {
  font-size: 1.4rem;
  color: aqua;
}
/* header.component.scss */
/*.logo {
  height: 32px;
  max-width: 120px;
  vertical-align: middle;
  object-fit: contain;

}*/