<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>

    <div class="header-center">
      <img *ngIf="images['logo']" class="logo" alt="logo" [src]="images['logo']">
      <ion-title>{{ pageTitle }}</ion-title>
    </div>

    <ion-buttons slot="end">
      <span class="user-name">{{ userEmail }}</span>
      <ion-button fill="clear" color="light">
        <ion-icon slot="start" class="fa-solid fa-bell fa-shake"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
    <img *ngIf="images['logo']" class="logo" alt="logo" [src]="images['logo']">
  </ion-toolbar>
</ion-header>-->
