<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>-->

<app-header></app-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col class="custom-col">
        <ion-card class="dashboard-card" button (click)="goToCrearEncuesta()">
          <ion-card-header>
            <ion-card-title>Crear Encuesta</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col class="custom-col">
        <ion-card class="dashboard-card" button (click)="goToVerEncuestas()">
          <ion-card-header>
            <ion-card-title>Editar Encuesta</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col class="custom-col">
        <ion-card class="dashboard-card" button (click)="goToVerEncuestas()">
          <ion-card-header>
            <ion-card-title>Eliminar Encuesta</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col class="custom-col">
        <ion-card class="dashboard-card" button (click)="goToVerEncuestas()">
          <ion-card-header>
            <ion-card-title>Duplicar encuesta</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col class="custom-col">
        <ion-card class="dashboard-card" button (click)="goToVerEncuestas()">
          <ion-card-header>
            <ion-card-title>Ver encuestas asignadas</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col class="custom-col">
        <ion-card class="dashboard-card" button (click)="goToVerEncuestas()">
          <ion-card-header>
            <ion-card-title>Aplicar encuestas</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col class="custom-col">
        <ion-card class="dashboard-card" button (click)="goToVerEncuestas()">
          <ion-card-header>
            <ion-card-title>Guardar respuestas offline</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col class="custom-col">
        <ion-card class="dashboard-card" button (click)="goToVerEncuestas()">
          <ion-card-header>
            <ion-card-title>Reanudar encuestas</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-content>

<div class="fixed-navbar">
  <app-navbar></app-navbar>
</div>



