<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>-->

<app-header></app-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col class="custom-col">
        <ion-card class="dashboard-card" button [routerLink]="['/usuario-list']">
          <ion-card-header>
            <ion-card-title>Gestión de usuarios</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col class="custom-col">
        <ion-card class="dashboard-card" button [routerLink]="['/encuesta-list']">
          <ion-card-header>
            <ion-card-title>Gestión de Encuestas</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col class="custom-col">
        <ion-card class="dashboard-card" button (click)="goToVerEncuestas()">
          <ion-card-header>
            <ion-card-title>Asignar Encuestadores</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>