.pregunta-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px;
}

.pregunta-item {
    cursor: grab;
}

.pregunta-item:active {
    cursor: grabbing;
}

.preguntas-container {
    overflow: visible !important;
}
