<div class="preguntas-container" *ngIf="preguntas && preguntas.length > 0; else noPreguntas">
  <div *ngFor="let pregunta of preguntas; let i = index">
    <app-pregunta-item
      [pregunta]="pregunta"
      [indice]="i + 1"
      (eliminar)="onEliminar(pregunta)"
    ></app-pregunta-item>
  </div>

  <ion-button
    expand="block"
    fill="outline"
    size="small"
    color="primary"
    (click)="onAgregar()"
  >
    <i slot="start" class="fa-solid fa-circle-plus"></i>
    Agregar nueva pregunta
  </ion-button>
</div>

<ng-template #noPreguntas>
  <ion-card color="light" class="ion-text-center ion-padding">
    <p>No hay preguntas aún.</p>
    <ion-button
      fill="outline"
      size="small"
      color="primary"
      (click)="onAgregar()">
      <i slot="start" class="fa-solid fa-circle-plus"></i>
      Crear primera pregunta
    </ion-button>
  </ion-card>
</ng-template>