<ion-app>
  <ion-menu side="start" menuId="first" contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <!-- <ion-title>Menú</ion-title> -->
        <div class="menu-header">
          <img *ngIf="images['logo']" class="menu-logo" alt="logo" [src]="images['logo']">
          <div class="menu-user">
            <ion-title>Bienvenido</ion-title>
            <ion-text>{{ userEmail }}</ion-text>
          </div>
        </div>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list lines="none" class="menu-list">
        <ion-menu-toggle auto-hide="true">

          <ion-item routerLink="/inicio" routerDirection="root">
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>Inicio</ion-label>
          </ion-item>

          <ion-item routerLink="/encuesta-list" routerDirection="root">
            <ion-icon name="document-text-outline" slot="start"></ion-icon>
            <ion-label>Encuestas</ion-label>
          </ion-item>

          <ion-item routerLink="/usuarios" routerDirection="root">
            <ion-icon name="people-outline" slot="start"></ion-icon>
            <ion-label>Usuarios</ion-label>
          </ion-item>

          <ion-item routerLink="/asignacion" routerDirection="root">
            <ion-icon name="git-branch-outline" slot="start"></ion-icon>
            <ion-label>Asignación</ion-label>
          </ion-item>

          <ion-item (click)="onSignOut()" lines="full">
            <ion-icon color="danger" name="log-out-outline" slot="start"></ion-icon>
            <ion-label color="danger">Cerrar sesión</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

    </ion-content>
  </ion-menu>

  <!-- CONTENIDO PRINCIPAL -->
  <div class="ion-page" id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>

