<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ editMode ? 'Editar Encuesta' : 'Nueva Encuesta' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <!-- Formulario de encuesta -->
  <ion-card class="mb-3">
    <ion-card-header>
      <ion-card-title>Información de la Encuesta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Título</ion-label>
        <ion-input [(ngModel)]="encuesta.titulo" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Descripción</ion-label>
        <ion-textarea [(ngModel)]="encuesta.descripcion"></ion-textarea>
      </ion-item>
      <ion-button expand="block" color="success" class="mt-3" (click)="guardar()">
        {{ editMode ? 'Actualizar' : 'Guardar' }}
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Lista de preguntas -->
  <ion-card class="mb-3" *ngIf="id">
    <ion-card-header>
      <ion-card-title>Preguntas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-pregunta-list 
      [preguntas]="preguntas"
      [editandoEncuesta]="editandoEncuesta"
      [preguntaEditandoId]="preguntaEditandoId"
      (activarEdicion)="preguntaEditandoId = $event"
      (desactivarEdicion)="preguntaEditandoId = null"
      ></app-pregunta-list>

      <div class="ion-text-center" style="margin-top: 10px;">
        <ion-button color="success" (click)="agregarPreguntaFinal()">
          <i class="fa-solid fa-circle-plus"></i>
          Agregar pregunta
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
