<ion-content [fullscreen]="true" class="login-content">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100vh;">
      <ion-col size="12" size-md="8" size-lg="4">
        <ion-card class="login-card">
          <ion-card-content> <!-- formulario -->
            <div class="logo-container">
              <img *ngIf="images['logo']" class="logo-img" alt="Logo AppEncuesta" [src]="images['logo']">
            </div>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <ion-item>
                <!--<ion-icon slot="start" name="mail-open-outline"></ion-icon>-->
                <ion-icon name="mail-outline"></ion-icon>
                <ion-input formControlName="usernameOrEmail" type="text" autocomplete="username" placeholder="Correo o Username"></ion-input>
              </ion-item>
              
              <div class="error" *ngIf="loginForm.get('usernameOrEmail')?.invalid && (loginForm.get('usernameOrEmail')?.touched || loginForm.get('usernameOrEmail')?.dirty)">
                <small *ngIf="loginForm.get('usernameOrEmail')?.errors?.['required']">El correo o username es requerido.</small>
              </div>

              <ion-item>
                <!--<ion-icon slot="start" name="lock-closed-outline"></ion-icon>-->
                <ion-icon name="lock-closed-outline"></ion-icon>
                <ion-input formControlName="password" type="password" autocomplete="current-password" placeholder="Contraseña"></ion-input>
              </ion-item>
              <div class="error" *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)">
                <small *ngIf="loginForm.get('password')?.errors?.['required']">La contraseña es requerida.</small>
                <small *ngIf="loginForm.get('password')?.errors?.['minlength']">Mínimo 4 caracteres.</small>
              </div>

              <ion-button expand="block" type="submit" [disabled]="isSubmitting">
                {{ isSubmitting ? 'Entrando...' : 'Entrar' }}
                <!--<ng-container *ngIf="!isSubmitting">Entrar</ng-container>
                <ng-container *ngIf="isSubmitting">Entrando...</ng-container>-->
              </ion-button>

              <ion-text color="danger" *ngIf="loginError">
                <p class="ion-padding-start">{{ loginError }}</p>
              </ion-text>
            </form>
          </ion-card-content> <!-- fin de formulario -->
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

