<ion-card class="pregunta-card">
  <ion-row class="ion-justify-content-start">
    
    <ion-col size="auto">
      <ion-button
        shape="round" fill="clear"
        color="primary" aria-label="Subir pregunta"
        (click)="subir.emit(indice)"
      >
        <ion-icon
          size="large" slot="icon-only"
          name="chevron-up-circle-outline"
        ></ion-icon>
      </ion-button>
    </ion-col>
    
    <ion-col size="auto">
      <ion-button
        shape="round" fill="clear"
        color="primary" aria-label="Bajar pregunta"
        (click)="bajar.emit(indice)"
      >
        <ion-icon size="large" slot="icon-only" name="chevron-down-circle-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <!-- TEXTO DE LA PREGUNTA -->
  <ion-card-header (click)="toggleNombre($event)">
    <div class="titulo-pregunta">
      <ion-chip
        color="primary"
        class="orden-chip"
      >
        {{ pregunta.orden }}
      </ion-chip>

      <ion-input
        *ngIf="editandoNombre"
        [(ngModel)]="pregunta.nombre"
        (blur)="guardarNombre()"
        placeholder="Escribe tu pregunta..."
        autofocus
      ></ion-input>
      
      <ion-label *ngIf="!editandoNombre">
        {{ pregunta.nombre || 'Nueva pregunta' }}
        <span *ngIf="pregunta.obligatorio" style="color: red">*</span>
      </ion-label>
    </div>
  </ion-card-header>

  <!-- TIPO DE PREGUNTA -->
  <ion-row>
    <ion-col>
    <ion-item (click)="toggleTipo($event)" lines="none">
      <ion-label [hidden]="editandoTipo">Tipo: {{ pregunta.tipo || 'texto' }}</ion-label>
      <ion-select [hidden]="!editandoTipo" [(ngModel)]="pregunta.tipo" (ionChange)="guardarTipo()">
        <ion-select-option *ngFor="let tipo of tiposPregunta" [value]="tipo">{{ tipo | titlecase }}</ion-select-option>
      </ion-select>
    </ion-item>
    </ion-col>
  </ion-row>

  <!-- OPCIONES -->
  <ng-container *ngIf="pregunta.tipo === 'seleccion_unica' || pregunta.tipo === 'seleccion_multiple'">
    
    <ion-radio-group>
      <ion-list>

        <!-- Checkbox o inputs para edición / otro -->
        <ion-item *ngFor="let opcion of pregunta.opciones; let i = index">

          <!-- Dentro del *ngFor de opciones -->
          <ion-radio
            *ngIf="pregunta.tipo === 'seleccion_unica'"
            slot="start"
            [value]="opcion.valor"
            (ionSelect)="onSeleccionarRespuesta(opcion)">
          </ion-radio>

          <!-- Input normal -->
          <ion-input
            [hidden]="opcion.esOtro"
            [(ngModel)]="opcion.valor"
            (ionBlur)="setValorOpcion(opcion, opcion.valor)"
            placeholder="Opción {{ i + 1 }}"
          ></ion-input>

          <!-- Input 'Otro' -->
          <ion-input
            [hidden]="!opcion.esOtro"
            [(ngModel)]="opcion.valorUsuario"
            (ionInput)="onCambioValorOtro(opcion)"
            placeholder="Escribe tu respuesta"
          ></ion-input>

          <!-- Checkbox solo si tipo es checkbox -->
          <ion-checkbox
            *ngIf="pregunta.tipo === 'seleccion_multiple'"
            slot="start"
            [checked]="pregunta.respuestasMarcadas?.[opcion.valor]"
            (ionChange)="onToggleCheckbox(opcion.valor, $event.detail.checked)"
          ></ion-checkbox>

          <!-- Botón eliminar -->
          <ion-button fill="clear" color="danger" (click)="eliminarOpcion(i)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-radio-group>

    <ion-button fill="clear" color="secondary" (click)="agregarOpcion()">
      <ion-icon name="add"></ion-icon>Opción
    </ion-button>
    <ion-button fill="clear" color="secondary" *ngIf="!tieneOtro()" (click)="agregarOpcion(true)">
      <ion-icon name="add-circle"></ion-icon>Otro
    </ion-button>
  </ng-container>

  <!-- ESCALA -->
  <ng-container *ngIf="pregunta.tipo === 'escala'">
    <ion-row>

      <ion-col>
        <ion-item>
          <ion-label>Valor mínimo</ion-label>
          <!--<ion-input type="number" [(ngModel)]="pregunta.valorMin" (ionBlur)="actualizarEscala()"></ion-input>-->
          <ion-select [(ngModel)]="pregunta.valorMin" (ionChange)="actualizarEscala()">
            <ion-select-option *ngFor="let min of valoresMinimos" [value]="min">
              {{ min }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-label>Valor máximo</ion-label>
          <!--<ion-input type="number" [(ngModel)]="pregunta.valorMax" (ionBlur)="actualizarEscala()"></ion-input>-->
          <ion-select [(ngModel)]="pregunta.valorMax" (ionChange)="actualizarEscala()">
            <ion-select-option *ngFor="let max of valoresMaximos" [value]="max">
              {{ max }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Etiqueta inicio</ion-label>
          <ion-input [(ngModel)]="pregunta.etiquetaInicio" (ionInput)="onEtiquetaChange()"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-label>Etiqueta fin</ion-label>
          <ion-input [(ngModel)]="pregunta.etiquetaFin" (ionInput)="onEtiquetaChange()"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

<!--
    <ion-item *ngFor="let val of escala">
      <ion-label>{{ val }}</ion-label>
      <ion-radio-group *ngIf="editandoEncuesta" [(ngModel)]="pregunta.seleccion" (ionChange)="respuestaSeleccionada.emit({ idPregunta: pregunta.id!, valor: $event.detail.value })">
        <ion-radio [value]="val"></ion-radio>
      </ion-radio-group>
    </ion-item>
-->
    <ion-item lines="none">
      <ion-label>{{ pregunta.etiquetaInicio }}</ion-label>
      <!--
      <ion-radio-group *ngIf="editandoEncuesta" [(ngModel)]="pregunta.seleccion" (ionChange)="respuestaSeleccionada.emit({ idPregunta: pregunta.id!, valor: $event.detail.value })" class="radio-horizontal">
        <ion-row>
          <ion-col *ngFor="let val of escala" class="ion-text-center">
            <ion-radio [value]="val"></ion-radio>
            <div>{{ val }}</div>
          </ion-col>
        </ion-row>
      </ion-radio-group>
      -->
      <ion-range
        aria-label="Seleccionar valor de escala"
        [ticks]="true"
        [snaps]="true"
        [pin]="true"
        *ngIf="editandoEncuesta" 
        min="{{pregunta.valorMin}}" 
        max="{{pregunta.valorMax}}" 
        [step]="1" 
        [(ngModel)]="pregunta.seleccion"
        (ionChange)="respuestaSeleccionada.emit({ idPregunta: pregunta.id!, valor: $event.detail.value }); actualizarCampo({ seleccion: pregunta.seleccion })"
      >
        <ion-label slot="start">{{ pregunta.valorMin }}</ion-label>
        <ion-label slot="end">{{ pregunta.valorMax }}</ion-label>
      </ion-range>
      <ion-label>{{ pregunta.etiquetaFin }}</ion-label>
    </ion-item>

  </ng-container>

  <!-- ACCIONES -->
  <ion-row class="ion-justify-content-center">

    <ion-col size="auto">
      <ion-button
        shape="round" fill="clear"
        color="danger" aria-label="Eliminar pregunta"
        (click)="eliminarPregunta()"
      >
        <ion-icon slot="icon-only" size="large" name="trash"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col size="auto">
      <ion-button
        shape="round" fill="clear"
        color="success" aria-label="Agregar nueva pregunta debajo"
        (click)="agregarDebajo.emit(indice - 1)"
      >
        <ion-icon slot="icon-only" size="large" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-col>

  </ion-row>

  <ion-row class="ion-align-items-center ion-justify-content-end">

    <ion-col size="auto">
      <span [style.color]="pregunta.obligatorio ? 'var(--ion-color-success)' : 'var(--ion-color-medium)'">
        {{ pregunta.obligatorio ? 'Obligatorio' : 'Opcional' }}
      </span>
    </ion-col>

    <ion-col size="auto">
      <ion-toggle
        [(ngModel)]="pregunta.obligatorio"
        [color]="pregunta.obligatorio ? 'success' : 'medium'"
        (ionChange)="actualizarCampo({ obligatorio: pregunta.obligatorio })"
      ></ion-toggle>
    </ion-col>

  </ion-row>
  
</ion-card>
