<ion-card class="pregunta-card">
  <ion-card-header class="header-flex">
    <div class="titulo">
      <!-- Título -->
      <ion-input
        *ngIf="editandoTexto"
        [(ngModel)]="pregunta.texto"
        (blur)="guardarTexto()"
        (keydown.enter)="guardarTexto()"
        autofocus
        class="editable-input">
      </ion-input>

      <ion-card-title
        *ngIf="!editandoTexto"
        class="editable-titulo"
        (click)="toggleTexto($event)">
        {{ pregunta.texto }}
      </ion-card-title>

      <!-- Tipo -->
      <ion-card-subtitle
        *ngIf="!editandoTipo"
        class="editable-tipo"
        (click)="toggleTipo($event)">
        {{ pregunta.tipo | uppercase }}
      </ion-card-subtitle>

      <ion-select
        *ngIf="editandoTipo"
        [(ngModel)]="pregunta.tipo"
        (ionChange)="guardarTipo()"
        interface="popover"
        class="editable-select">
        <ion-select-option *ngFor="let t of tiposPregunta" [value]="t">
          {{ t | uppercase }}
        </ion-select-option>
      </ion-select>
    </div>

    <!-- Acciones -->
    <div class="acciones">
      <ion-button fill="clear" color="medium" size="small" (click)="toggleTexto()">
        <i class="fa-solid fa-pen-to-square"></i>
      </ion-button>
      <ion-button fill="clear" color="danger" size="small" (click)="eliminarPregunta()">
        <i class="fa-solid fa-trash"></i>
      </ion-button>
    </div>
  </ion-card-header>

  <ion-card-content class="preguntas-container">
    <ng-container [ngSwitch]="pregunta.tipo">
      
      <!-- Texto -->
      <ion-input *ngSwitchCase="'texto'" placeholder="Respuesta..."></ion-input>

      <!-- Opción múltiple -->
      <ion-radio-group
        *ngSwitchCase="'opcion_multiple'"
        [(ngModel)]="pregunta.seleccion"
        (ionChange)="onSeleccionarRespuesta($event.detail.value)"
      >

        <!-- Modo vista -->
        <ng-container *ngIf="!editandoTipo && pregunta.opciones">

          <ion-item *ngFor="let opcion of pregunta.opciones">
            <ion-label>{{ opcion.valor }}</ion-label>

            <ion-radio
              slot="start"
              [value]="opcion.valor"
              (ionSelect)="onSeleccionarRespuesta(opcion)"
            ></ion-radio>

          </ion-item>

          <ng-container *ngFor="let opcion of pregunta.opciones">
            <ion-item *ngIf="opcion.esOtro && pregunta.seleccion === opcion.valor">
              <ion-input
                placeholder="Especifique..."
                [(ngModel)]="opcion.valorUsuario"
                (ionInput)="onCambioValorOtro(opcion)"
              ></ion-input>
            </ion-item>
          </ng-container>
        </ng-container>

        <!-- Edición de opciones -->
        <div *ngIf="editandoTipo && pregunta.opciones">
          <div *ngFor="let opcion of pregunta.opciones; let i = index" class="opcion-item">

            <ion-input
              [value]="getValorOpcion(opcion)"
              (ionInput)="setValorOpcion(opcion, $event.detail.value ?? '')"
              placeholder="Escribe una opción"
              (blur)="guardarOpciones()"
              (keydown.enter)="focusSiguienteOpcion(i, $event)"
            ></ion-input>
            
            <ion-button fill="clear" size="small" color="danger" (click)="eliminarOpcion(i)">
              <i class="fa-solid fa-trash"></i>
            </ion-button>
          </div>

          <ion-button
            color="secondary"
            size="small"
            fill="outline"
            *ngIf="!tieneOtro()"
            (click)="agregarOpcion(true)"
          >
            <i class="fa-solid fa-feather-pointed"></i>Otro
          </ion-button>
          
          <ion-button size="small" fill="outline" (click)="agregarOpcion()">
            <i class="fa-solid fa-circle-plus"></i>
          </ion-button>
        </div>
      </ion-radio-group>

      <!-- Checkbox -->
      <ng-container *ngSwitchCase="'checkbox'">
        <!-- Modo vista -->
        <div *ngIf="!editandoTipo && pregunta.opciones">
          <ng-container *ngFor="let opcion of pregunta.opciones">

            <ion-item>
              <ion-checkbox
                slot="start"
                [checked]="pregunta.respuestasMarcadas?.[opcion.valor] || false"
                (ionChange)="onToggleCheckbox(opcion.valor, $event.detail.checked)"
              ></ion-checkbox>
              <ion-label>{{ opcion.valor }}</ion-label>
            </ion-item>

            <!-- Mostrar input si “Otro” está marcado -->
            <ion-item *ngIf="opcion.esOtro && pregunta.respuestasMarcadas?.[opcion.valor]">
              <ion-input
                placeholder="Especifique..."
                [(ngModel)]="opcion.valorUsuario"
                (ionInput)="onCambioValorOtro(opcion)"
                clearInput>
              </ion-input>
            </ion-item>
          </ng-container>
        </div>

        <!-- Modo edición de opciones -->
        <div *ngIf="editandoTipo && pregunta.opciones">
          <div *ngFor="let opcion of pregunta.opciones; let i = index" class="opcion-item">

            <ion-input
              [value]="getValorOpcion(opcion)"
              (ionInput)="setValorOpcion(opcion, $event.detail.value ?? '')"
              (blur)="guardarOpciones()"
              placeholder="Escribe una opción"
              (keydown.enter)="focusSiguienteOpcion(i, $event)"
            ></ion-input>

            <ion-button fill="clear" size="small" color="danger" (click)="eliminarOpcion(i)">
              <i class="fa-solid fa-trash"></i>
            </ion-button>
          </div>

          <ion-button
            color="secondary"
            size="small"
            fill="outline"
            *ngIf="!tieneOtro()"
            (click)="agregarOpcion(true)"
          >
            <i class="fa-solid fa-feather-pointed"></i>Otro
          </ion-button>

          <ion-button size="small" fill="outline" (click)="agregarOpcion()">
            <i class="fa-solid fa-circle-plus"></i>
          </ion-button>
        </div>
      </ng-container>

      <!-- Escala -->
      <div *ngSwitchCase="'escala'" class="escala-container">
        <!-- MODO EDICIÓN: mantiene tus selectores y etiquetas -->
        <div *ngIf="editandoTexto" class="rango-edicion">
          <!-- Rango -->
          <div class="rango-flex">
            <!--Valor mínimo-->
            <span>De</span>
            <ion-select
              [(ngModel)]="pregunta.valorMin"
              (ionChange)="actualizarEscala()"
              interface="popover"
            >
              <ion-select-option *ngFor="let n of rangoMin" [value]="n">{{ n }}</ion-select-option>
            </ion-select>
            
            <!--Valor máximo-->
            <span>a</span>
            <ion-select
              [(ngModel)]="pregunta.valorMax"
              (ionChange)="actualizarEscala()"
              interface="popover"
            ><!--[disabled]="editandoEncuesta"-->
              <ion-select-option *ngFor="let n of rangoMax" [value]="n">{{ n }}</ion-select-option>
            </ion-select>
          </div>

          <!-- Etiquetas -->
          <div class="etiquetas-flex">
            <!-- Etiqueta valor mínimo -->
            <div class="etiqueta-item">
              <span>{{ pregunta.valorMin }}</span>
                <ion-input
                  [(ngModel)]="pregunta.etiquetaInicio"
                  placeholder="Etiqueta izquierda"
                  (ionInput)="onEtiquetaChange()">
                </ion-input>
            </div>
            <!-- Etiqueta valor máximo -->
            <div class="etiqueta-item">
              <span>{{ pregunta.valorMax }}</span>
              <ion-input
                [(ngModel)]="pregunta.etiquetaFin"
                placeholder="Etiqueta derecha"
                (ionInput)="onEtiquetaChange()">
              </ion-input>
            </div>
          </div>
          
          <ion-item>
            <ion-label>Obligatorio</ion-label>
            <ion-toggle
              [(ngModel)]="pregunta.obligatorio"
              (ionChange)="actualizarCampo({ obligatorio: pregunta.obligatorio })"
            ></ion-toggle>
          </ion-item>
        </div>
        <!-- MODO VISTA / APLICACIÓN: estilo Google Forms -->
        <div *ngIf="!editandoTexto" class="rango-visual">
          <ion-radio-group
            [(ngModel)]="pregunta.seleccion"
            (ionChange)="onSeleccionarRespuesta($event.detail.value)" class="escala-horizontal"
          >
            <div class="escala-opciones">
              <ion-item *ngFor="let n of escala" class="opcion-horizontal">
                <ion-radio slot="start" [value]="n"></ion-radio>
                <ion-label>{{ n }}</ion-label>
              </ion-item>
            </div>
          </ion-radio-group>

          <div class="etiquetas-flex">
            <span>{{ pregunta.etiquetaInicio }}</span>
            <span>{{ pregunta.etiquetaFin }}</span>
          </div>
        </div>
      </div>
    </ng-container>
  </ion-card-content>

  <ion-card-content class="add-btn-container">
    <ion-button expand="block" fill="outline" size="small" (click)="agregarDebajo.emit()">
      <i slot="start" class="fa-solid fa-circle-plus"></i>
      Agregar pregunta debajo
    </ion-button>
  </ion-card-content>
</ion-card>
