<app-header></app-header>

<ion-content class="ion-padding">
  <ion-spinner *ngIf="cargando" name="crescent"></ion-spinner>

  <ion-searchbar
    placeholder="Buscar usuario..."
    [(ngModel)]="terminoBusqueda"
    (ionInput)="filtrarUsuarios()"
  ></ion-searchbar>

  <ion-list *ngIf="!cargando && usuariosFiltrados.length > 0">
    <ion-item *ngFor="let usuario of usuariosFiltrados">
      <ion-label>
        <h2>{{ usuario.firstName }} {{usuario.lastName}}</h2>
        <!--<p>CI: {{ usuario.ci }} {{ usuario.complemento || '' }} {{ usuario.extension }}</p>
        <p>Fecha de nacimiento: {{ usuario.fechaNacimiento | date:'dd/MM/yyyy' }}</p>
        <p>Teléfono: {{ usuario.telefono }}</p>
        <p>Email: {{ usuario.email }}</p>
        <p>Fecha de creación: {{ usuario.fechaCreacion | date:'dd/MM/yyyy, hh:mm a' }}</p>
        <p>Usuario: <strong>{{ usuario.username }}</strong></p>-->
        <p>Rol: {{ usuario.rol || 'No asignado' }}</p>
        <p>Estado: 
          <ion-text [color]="usuario.estado === 'activo' ? 'success' : 'danger'">
            {{ usuario.estado | uppercase }}
          </ion-text>
        </p>
      </ion-label>

      <ion-buttons slot="end">
        <ion-button fill="clear" shape="round" aria-label="Ver el usuario" color="primary" [routerLink] = "['/usuario/detalle', usuario.id]">
          <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" shape="round" aria-label="Editar el usuario" color="warning" [routerLink] = "['/usuario/editar', usuario.id]">
          <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" shape="round" aria-label="Eliminar el usuario" color="danger" *ngIf="usuario.estado == 'activo'" (click)="eliminarLogicaUsuario(usuario)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" shape="round" aria-label="Activar el usuario" color="success" *ngIf="usuario.estado == 'inactivo'" (click)="activarUsuario(usuario)">
          <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-text color="danger" *ngIf="!cargando && usuariosFiltrados.length === 0">
    No hay usuarios que coincidan con la búsqueda.
  </ion-text>

  <app-fab-nuevo-elemento [visible]="true" [ruta]="'/usuario/nueva'"></app-fab-nuevo-elemento>
</ion-content>
