<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-content">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100vh;">
      <ion-col size="12" size-md="8" size-lg="4">
        <ion-card class="login-card">
          <ion-card-content>
            <app-form-login></app-form-login>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

