<ion-header>
  <ion-toolbar>
    <ion-title>Encuestas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!loading; else cargando">
  <ion-list>
    <ion-item *ngFor="let enc of encuestas">
      <ion-label>
        <h2>{{ enc.titulo }}</h2>
        <p>Estado: {{ enc.estado }}</p>
        <p>Creada: {{ enc.fechaCreacion | date:'short' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ng-template #cargando>
  <ion-spinner name="crescent"></ion-spinner>
  <p>Cargando encuestas...</p>
</ng-template>

